a.list-group-item{
    color: black;
    font-weight: bold;
}
a.list-group-item:hover{
    background-color: rgba(0,0,0,0.05);
    
}
ul.list-group{

    margin-top: 40px;  padding: 0;
    overflow: hidden;
}
.fondo{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}