@media only screen and (max-width: 600px) {
    .tituloCategoria{
        font-size: 22px;
    }
}
.slick-prev {
    left: 3% !important;
    z-index: 1;

  }
  .slick-next {
    right: 3% !important;
    z-index: 1;


  }