.trash{
    position: absolute;
    left: 95%;
    top: 10%;
}
.trash:hover{
    cursor: pointer;
}
@media only screen and (max-width: 1160px){
    .trash{
        position: absolute;
        left: 90%;
        top: 5%;
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px){
    .trash{
        position: absolute;
        left: 82%;
        top: 5%;
        font-size: 20px;
    }
}