.fila{
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
animation: 0.5s reducir;
animation-fill-mode: forwards;

}

.fila:hover{
    animation: 0.5s aumento;
    animation-fill-mode: forwards;
}


@keyframes aumento{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}

@keyframes reducir{
    0%{
        transform: scale(1.01);
    }
    100%{
        transform: scale(1);
    }
}